body {
margin: 0px;
}

.top-container {
    background-color: #CDF0EA;
    
}

.middle-container {
    background-color: #F6C6EA;
}

.bottom-container {
    background-color: #C490E4;
}

h1 {
    margin-top: 0px;
}