body {
    background-color: #d9e3cf;
}

hr {
    border-style: dotted none none;
    border-color: #DBC6E3;
    border-width: 5px;
    height: 0px;
    width: 5%;
}

h1 {
    color: #9053A8;
    text-align: center;
    text-decoration-line: overline underline;
    text-decoration-color: #B78EC7;
    text-shadow: 2px 2px 5px #B78EC7;
}

h3 {
    color: #9053A8;
    text-decoration-line: underline;
    text-decoration-color: #B78EC7;
    text-shadow: 2px 2px 5px #B78EC7;
}